[Unit]
Description=bucky metrics collector/aggregator
After=graphite_carbon_cache.service collectd.service

[Service]
User=nobody
Group=nogroup
ExecStart=/usr/bin/bucky

[Install]
WantedBy=multi-user.target
